---
---

<!DOCTYPE html>
<html>
<head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="description" content="{{ site.description }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="manifest" href="assets/images/site.webmanifest">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://krushin.me/map/" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:image" content="https://krushin.me/map/assets/images/og.jpg" />
    <meta name="theme-color" content="#e95420">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="user-scalable=no, width=device-width">
    <link rel="stylesheet" href="assets/css/leaflet.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Карта</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://krushin.ru/all/map">О проекте</a>
            </li>
          </ul>
        </div>
      </nav>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        var map = L.map('map').setView([55.7558, 37.6173], 13); // Center map on Moscow
        var southWest = L.latLng(55.489927, 36.827148), // Юго-западный угол границы
        northEast = L.latLng(56.009657, 38.489927); // Северо-восточный угол границы
        var bounds = L.latLngBounds(southWest, northEast);
        map.setMaxBounds(bounds);
        map.locate({setView: true, maxZoom: 15});
        L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
	          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
	          subdomains: 'abcd',
            minZoom: 10,
	          maxZoom: 20
        }).addTo(map);
        map.attributionControl.setPrefix('<a href="https://leafletjs.com">Leaflet</a> / Icons by <a href="https://www.flaticon.com/authors/freepik">Freepik</a>');
        var japanese = L.icon({iconUrl: 'assets/images/japanese.png',iconRetinaUrl: 'assets/images/japanese@2x.png',iconSize: [32, 32],iconAnchor: [19, 19],popupAnchor: [-3, -11]});
        var club = L.icon({iconUrl: 'assets/images/club.png',iconRetinaUrl: 'assets/images/club@2x.png',iconSize: [32, 32],iconAnchor: [15, 20],popupAnchor: [0, -16]});
        var beer = L.icon({iconUrl: 'assets/images/beer.png',iconRetinaUrl: 'assets/images/beer@2x.png',iconSize: [32, 32],iconAnchor: [14, 20],popupAnchor: [3, -16]});
        var coffee = L.icon({iconUrl: 'assets/images/coffee-cup.png',iconRetinaUrl: 'assets/images/coffee-cup@2x.png',iconSize: [32, 32],iconAnchor: [15, 20],popupAnchor: [0, -10]});
        var bar = L.icon({iconUrl: 'assets/images/bar.png',iconRetinaUrl: 'assets/images/bar@2x.png',iconSize: [32, 32],iconAnchor: [18, 20],popupAnchor: [0, -10]});
        var locationIcon = L.icon({iconUrl: 'assets/images/location.png',iconRetinaUrl: 'assets/images/location@2x.png',iconSize: [32, 32],iconAnchor: [14, 20],popupAnchor: [3, -16]});
        {% for place in site.data.places %}
        var marker{{forloop.index}} = L.marker([{{ place.lat }}, {{ place.lon }}]{% if place.category %},{icon: {{ place.category }}}{% endif %}).addTo(map).bindPopup(`
        <div class="card">
        {% if place.image %}<img src="{{ place.image }}" class="card-img-top" alt="...">{% endif %}
        <div class="card-body" style="width: 100%">
            <h5 class="card-title">{{ place.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ place.subtitle }}</h6>
            <p class="card-text">{{ place.description }}</p>
            {% if place.schedule %}
            <p class="card-text">
              <strong>Режим работы</strong><br>
              {% for entry in place.schedule %}
              {{ entry[0] }} — {{ entry[1] }} – {{entry[2]}}<br>
              {% endfor %}
            </p>
            {% else %}
            <p class="card-text">Расписание не указано</p>
            {% endif %}
            <a href="#" class="card-link">Яндекс.Карты</a>
            <a href="https://www.google.com/maps?q={{ place.lat }},{{ place.lon }}" class="card-link">Google Maps</a>
            <a href="https://2gis.ru/geo/{{ place.lon }}%2C{{ place.lat }}" class="card-link">2GIS</a>
            <p class="card-text text-muted">📍 {{ place.address }}</p>

        </div>
        {% if place.booking_link %}<a href="{{ place.booking_link }}" id="order-button" class="btn btn-primary">{% if place.custom_button %}{{ place.custom_button }}{% else %}Забронировать столик{% endif %}</a>{% endif %}

        </div>
        `);
        {% endfor %}
        function onLocationFound(e) {
            var radius = e.accuracy;
            L.marker(e.latlng,{icon: locationIcon}).addTo(map);
        }
        map.on('locationfound', onLocationFound);
    </script>
</body>
</html>
